# Entry 25 notebook - figuring out openml.org

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import openml

### `fetch_openml`

In [2]:
from sklearn.datasets import fetch_openml

titanic = fetch_openml('titanic', version=1, as_frame=True)

The `fetch_openml` function from the `sklearn.datasets` module was throwing errors and whining about not supporting strings for the dataset name. I got it to download a version of the titanic dataset, but it was the wrong version.

Then, when I created this notebook to document the error and find a workaround, it suddenly started working.

Technically, I totally asked for this when I switched into a computer/tech based career. Doesn't make it any less annoying though.

In [3]:
titanic.keys()

dict_keys(['data', 'target', 'frame', 'feature_names', 'target_names', 'DESCR', 'details', 'categories', 'url'])

The `.frame` method includes the target class.

In [4]:
titanic.frame.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"

The `.data` method doesn't include the target and has to be used in conjunction with the `.target` method.

In [5]:
titanic.data.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"

### `openml` package

Another option is the `openml` package. In addition to loading data, I can also list out all of the available datasets, as well as quite a few of their attributes.

In [6]:
openml_opts = openml.datasets.list_datasets(output_format='dataframe')
# openml_opts[openml_opts['name'].str.startswith('T')].sort_values('name')
openml_opts.head()

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0

Due to the kind of data I use at work, I'm interested in binary classification problems where the data is imbalanced. I can filter the available datasets to just the kinds I'm intersted in.

In [8]:
binary_ds = openml_opts[openml_opts['NumberOfClasses']==2]
# binary_ds.loc[binary_ds['MinorityClassSize']/binary_ds['MajorityClassSize'] < 0.07, 'name'].unique().tolist()
binary_ds[binary_ds['MinorityClassSize']/binary_ds['MajorityClassSize'] < 0.07].sort_values('name')

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
274,274,20_newsgroups.drift,1,1,active,ARFF,379943.0,2.0,19997.0,2.0,1002.0,399940.0,0.0,0.0,0.0,1001.0
40517,40517,20_newsgroups.drift,2,1,active,arff,379943.0,2.0,19997.0,2.0,1001.0,399940.0,0.0,0.0,0.0,1001.0
41138,41138,APSFailure,1,869,active,ARFF,74625.0,2.0,1375.0,2.0,171.0,76000.0,75244.0,1078695.0,170.0,1.0
4135,4135,Amazon_employee_access,1,2,active,ARFF,30872.0,7518.0,1897.0,2.0,10.0,32769.0,0.0,0.0,0.0,10.0
42256,42256,Asteroid_Dataset,2,10666,active,arff,125975.0,NaN,156.0,2.0,34.0,126131.0,96.0,99.0,32.0,1.0
42252,42252,Asteroid_Dataset,1,10666,active,arff,125975.0,NaN,156.0,2.0,34.0,126131.0,96.0,99.0,31.0,2.0
131,131,"BNG(sick,nominal,1000000)",1,1,active,ARFF,938761.0,5.0,61239.0,2.0,30.0,1000000.0,0.0,0.0,0.0,30.0
1178,1178,BNG(solar-flare),1,1,active,ARFF,648320.0,6.0,15232.0,2.0,13.0,663552.0,0.0,0.0,0.0,13.0
1217,1217,Click_prediction_small,2,2,active,ARFF,142949.0,2.0,6690.0,2.0,12.0,149639.0,0.0,0.0,11.0,1.0
1216,1216,Click_prediction_small,1,2,active,ARFF,1429610.0,2.0,66781.0,2.0,12.0,1496391.0,0.0,0.0,11.0,1.0
4154,4154,CreditCardSubset,1,780,active,ARFF,14217.0,2.0,23.0,2.0,31.0,14240.0,0.0,0.0,30.0,1.0
1111,1111,KDDCup09_appetency,1,2,active,ARFF,49110.0,15415.0,890.0,2.0,231.0,50000.0,50000.0,8024152.0,192.0,39.0
1142,1142,OVA_Endometrium,1,2,active,ARFF,1484.0,2.0,61.0,2.0,10937.0,1545.0,0.0,0.0,10936.0,1.0
1139,1139,OVA_Omentum,1,2,active,ARFF,1468.0,2.0,77.0,2.0,10937.0,1545.0,0.0,0.0,10936.0,1.0
1146,1146,OVA_Prostate,1,2,active,ARFF,1476.0,2.0,69.0,2.0,10937.0,1545.0,0.0,0.0,10936.0,1.0
1452,1452,PieChart2,1,427,active,ARFF,729.0,2.0,16.0,2.0,37.0,745.0,0.0,0.0,36.0,1.0
40900,40900,Satellite,1,3768,active,ARFF,5025.0,2.0,75.0,2.0,37.0,5100.0,0.0,0.0,36.0,1.0
41946,41946,Sick_numeric,2,8684,active,ARFF,3541.0,2.0,231.0,2.0,30.0,3772.0,0.0,0.0,29.0,1.0
40910,40910,Speech,1,3768,active,ARFF,3625.0,2.0,61.0,2.0,401.0,3686.0,0.0,0.0,400.0,1.0
1013,1013,analcatdata_challenger,2,2,active,ARFF,129.0,3.0,9.0,2.0,3.0,138.0,0.0,0.0,1.0,2.0
950,950,arsenic-female-lung,2,2,active,ARFF,540.0,43.0,19.0,2.0,5.0,559.0,0.0,0.0,3.0,2.0
947,947,arsenic-male-bladder,2,2,active,ARFF,535.0,43.0,24.0,2.0,5.0,559.0,0.0,0.0,3.0,2.0
951,951,arsenic-male-lung,2,2,active,ARFF,546.0,43.0,13.0,2.0,5.0,559.0,0.0,0.0,3.0,2.0
40588,40588,birds,3,2373,active,ARFF,631.0,12.0,14.0,2.0,279.0,645.0,0.0,0.0,258.0,21.0
1597,1597,creditcard,1,470,active,ARFF,284315.0,2.0,492.0,2.0,31.0,284807.0,0.0,0.0,30.0,1.0
40713,40713,dis,1,869,active,ARFF,3714.0,5.0,58.0,2.0,30.0,3772.0,0.0,0.0,6.0,24.0
40590,40590,enron,2,2373,active,ARFF,1676.0,2.0,26.0,2.0,1054.0,1702.0,0.0,0.0,0.0,1054.0
1039,1039,hiva_agnostic,1,2,active,ARFF,4080.0,2.0,149.0,2.0,1618.0,4229.0,0.0,0.0,1617.0,1.0
1018,1018,ipums_la_99-small,2,2,active,ARFF,8276.0,17.0,568.0,2.0,57.0,8844.0,8844.0,34843.0,15.0,42.0
1045,1045,kc1-top5,1,2,active,ARFF,137.0,2.0,8.0,2.0,95.0,145.0,0.0,0.0,94.0,1.0
40593,40593,langLog,1,2373,active,ARFF,1441.0,2.0,19.0,2.0,1079.0,1460.0,0.0,0.0,1004.0,75.0
977,977,letter,2,2,active,ARFF,19187.0,2.0,813.0,2.0,17.0,20000.0,0.0,0.0,16.0,1.0
310,310,mammography,1,94,active,ARFF,10923.0,2.0,260.0,2.0,7.0,11183.0,0.0,0.0,6.0,1.0
1056,1056,mc1,1,2,active,ARFF,9398.0,2.0,68.0,2.0,39.0,9466.0,0.0,0.0,38.0,1.0
311,311,oil_spill,1,94,active,ARFF,896.0,2.0,41.0,2.0,50.0,937.0,0.0,0.0,49.0,1.0
1487,1487,ozone-level-8hr,1,64,active,ARFF,2374.0,2.0,160.0,2.0,73.0,2534.0,0.0,0.0,72.0,1.0
1069,1069,pc2,1,2,active,ARFF,5566.0,2.0,23.0,2.0,37.0,5589.0,0.0,0.0,36.0,1.0
42206,42206,porto-seguro,2,1475,active,ARFF,573518.0,104.0,21694.0,2.0,38.0,595212.0,470281.0,846458.0,12.0,26.0
38,38,sick,1,1,active,ARFF,3541.0,5.0,231.0,2.0,30.0,3772.0,3772.0,6064.0,7.0,23.0
40596,40596,slashdot,3,2373,active,ARFF,3707.0,2.0,75.0,2.0,1101.0,3782.0,0.0,0.0,1079.0,22.0
1040,1040,sylva_prior,1,2,active,ARFF,13509.0,2.0,886.0,2.0,109.0,14395.0,0.0,0.0,108.0,1.0
40983,40983,wilt,2,4265,active,ARFF,4578.0,2.0,261.0,2.0,6.0,4839.0,0.0,0.0,5.0,1.0
316,316,yeast_ml8,1,94,active,ARFF,2383.0,2.0,34.0,2.0,117.0,2417.0,0.0,0.0,103.0,14.0

In [9]:
titanic = openml.datasets.get_dataset(40945)

In [10]:
titanic

OpenML Dataset
==============
Name..........: Titanic
Version.......: 1
Format........: ARFF
Upload Date...: 2017-10-16 01:17:36
Licence.......: Public
Download URL..: https://www.openml.org/data/v1/download/16826755/Titanic.arff
OpenML URL....: https://www.openml.org/d/40945
# of features.: 14
# of instances: 1309

In [11]:
raw_df = titanic.get_data()[0]

In [12]:
raw_df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"