# Entry 34d notebook - Computer Vision datasets

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import openml

## openml datasets

In [4]:
# openml_opts = openml.datasets.list_datasets(output_format='dataframe')
# openml_opts.head()

In [5]:
# pd.set_option('display.max_rows', 270)
# openml_opts[(openml_opts['NumberOfClasses'] == 0) & (openml_opts['NumberOfFeatures'] < 50) & ~(openml_opts['name'].str.startswith('BNG')) & ~(openml_opts['name'].str.startswith('fri_'))].sort_values('name')

In [6]:
# rabe_266 = openml.datasets.get_dataset(663).get_data()[0]
# rabe_266.head()

In [7]:
# sns.pairplot(rabe_266)

## Sklearn datasets

In [8]:
from sklearn.datasets import fetch_olivetti_faces, fetch_lfw_people, fetch_lfw_pairs, fetch_covtype

In [9]:
olivetti_faces_x = pd.DataFrame(fetch_olivetti_faces()['data'])
olivetti_faces_y = fetch_olivetti_faces()['target']

olivetti_faces_x.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.309917,0.367769,0.417355,0.442149,0.528926,0.607438,0.657025,0.677686,0.690083,0.685950,...,0.665289,0.669421,0.652893,0.661157,0.475207,0.132231,0.148760,0.152893,0.161157,0.157025
1,0.454545,0.471074,0.512397,0.557851,0.595041,0.640496,0.681818,0.702479,0.710744,0.702479,...,0.136364,0.157025,0.136364,0.148760,0.152893,0.152893,0.152893,0.152893,0.152893,0.152893
2,0.318182,0.400826,0.491736,0.528926,0.586777,0.657025,0.681818,0.685950,0.702479,0.698347,...,0.074380,0.132231,0.181818,0.136364,0.128099,0.148760,0.144628,0.140496,0.148760,0.152893
3,0.198347,0.194215,0.194215,0.194215,0.190083,0.190083,0.243802,0.404959,0.483471,0.516529,...,0.652893,0.636364,0.657025,0.685950,0.727273,0.743802,0.764463,0.752066,0.752066,0.739669
4,0.500000,0.545455,0.582645,0.623967,0.648760,0.690083,0.694215,0.714876,0.723140,0.731405,...,0.190083,0.161157,0.177686,0.173554,0.177686,0.177686,0.177686,0.177686,0.173554,0.173554

In [10]:
lfw_people_x = pd.DataFrame(fetch_lfw_people()['data'])
lfw_people_y = fetch_lfw_people()['target']

lfw_people_x.head()

Downloading LFW metadata: https://ndownloader.figshare.com/files/5976012
Downloading LFW metadata: https://ndownloader.figshare.com/files/5976009
Downloading LFW metadata: https://ndownloader.figshare.com/files/5976006
Downloading LFW data (~200MB): https://ndownloader.figshare.com/files/5976015

,0,1,2,3,4,5,6,7,8,9,...,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913
0,34.000000,29.333334,22.333334,22.000000,25.666666,29.000000,38.666668,68.333336,96.333336,116.666664,...,26.666666,17.333334,11.000000,8.000000,4.333333,5.666667,11.333333,14.666667,16.000000,14.000000
1,158.000000,160.666672,169.666672,168.333328,162.666672,161.000000,158.333328,162.666672,163.000000,159.000000,...,217.666672,198.666672,169.000000,122.000000,106.333336,117.666664,133.000000,138.666672,135.333328,130.333328
2,77.000000,81.333336,88.000000,108.666664,136.000000,151.333328,155.000000,164.666672,168.000000,172.000000,...,177.666672,190.666672,219.333328,227.000000,218.666672,210.666672,202.000000,192.000000,145.333328,66.333336
3,11.333333,11.333333,11.666667,12.666667,13.666667,15.000000,15.000000,13.000000,13.000000,14.000000,...,121.333336,123.333336,124.000000,121.000000,118.333336,120.666664,123.000000,118.000000,106.333336,92.333336
4,32.333332,31.333334,31.333334,33.666668,33.000000,32.333332,36.333332,43.333332,43.000000,36.000000,...,19.000000,11.000000,9.000000,12.666667,18.000000,17.666666,17.000000,17.000000,19.666666,22.666666

In [11]:
lfw_pairs_x = pd.DataFrame(fetch_lfw_pairs()['data'])
lfw_pairs_y = fetch_lfw_pairs()['target']

lfw_pairs_x.head()

,0,1,2,3,4,5,6,7,8,9,...,5818,5819,5820,5821,5822,5823,5824,5825,5826,5827
0,73.666664,70.666664,81.666664,96.333336,107.333336,114.000000,112.333336,111.000000,110.000000,108.000000,...,118.666664,111.333336,129.000000,190.000000,208.333328,212.000000,219.333328,225.666672,229.666672,233.333328
1,86.333336,113.333336,133.333328,153.000000,169.666672,175.666672,175.666672,178.666672,185.000000,196.666672,...,51.333332,50.000000,60.666668,84.666664,101.000000,102.333336,102.666664,106.000000,114.333336,122.333336
2,37.333332,35.333332,34.000000,28.666666,22.333334,27.666666,36.333332,39.333332,41.333332,42.000000,...,71.666664,73.000000,76.333336,83.333336,90.000000,80.333336,55.666668,51.333332,52.333332,52.000000
3,11.666667,14.666667,22.333334,42.333332,64.666664,77.000000,81.333336,86.000000,93.666664,98.666664,...,3.666667,4.666667,14.666667,36.000000,43.000000,31.000000,37.666668,59.666668,88.666664,127.666664
4,49.666668,49.333332,45.000000,40.000000,53.666668,83.666664,118.000000,149.333328,170.666672,179.666672,...,70.000000,102.000000,151.333328,188.333328,200.333328,188.333328,172.666672,157.666672,136.666672,120.333336

In [12]:
covtype_x = pd.DataFrame(fetch_covtype()['data'])
covtype_y = fetch_covtype()['target']

covtype_x.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2596.0,51.0,3.0,258.0,0.0,510.0,221.0,232.0,148.0,6279.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2590.0,56.0,2.0,212.0,-6.0,390.0,220.0,235.0,151.0,6225.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2804.0,139.0,9.0,268.0,65.0,3180.0,234.0,238.0,135.0,6121.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2785.0,155.0,18.0,242.0,118.0,3090.0,238.0,238.0,122.0,6211.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2595.0,45.0,2.0,153.0,-1.0,391.0,220.0,234.0,150.0,6172.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0